      h1 {
        font-family: 'Trade Winds', cursive;
        font-size: 85px;
text-align: center;
      }

h2 {
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
text-align: center;
      }

body {
        font-family: 'Roboto Slab', serif;
        font-size: 12px;
text-align: center;
      }
