      h1 {
        font-family: 'Vollkorn SC', serif;
        font-size: 75px;
text-align: center;
      }

h2 {
        font-family: 'Vollkorn SC', serif;
        font-size: 18px;
text-align: center;
      }

body {
        font-family: 'Vollkorn SC', serif;
        font-size: 10px;
text-align: center;
      }
