      h1 {
        font-family: 'Trade Winds', cursive;
        font-size: 85px;
text-align: center;
      }

h2 {
        font-family: 'Trade Winds', cursive;
        font-size: 16px;
text-align: center;
      }

body {
        font-family: "Courier New", monospace;
        font-size: 14px;
text-align: center;
      }
